.wrapper{
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.forms{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.total{
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: black;
    color: white;
    font-size: 30px;

}

.total_w{
padding-left: 5px;
}

.outputForm{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.out_content{
    width: 800px;
    margin-bottom: 100px;
}

.costs{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.cos{
    display: flex;
    align-items: center;
}

.costs div{
    font-size: 25px;
}

.calendar{
    width: 300px;
}

/* label underline focus color */
.inputField {
    max-width: 300px;
    height: 100%;
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
    padding: 30px;
}

.inputField button{
    width: 100%;
    height:50px;
    background: #000000;
    border-width: 1px;
    transition: .2s;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.inputField button:focus{
    background: #000000;
}

.inputField button:hover{
    background: #484848;
}

.btns{
    margin-left: 20px;
    height: 100%;
    display: flex;
}

.btns button{
    font-size: 15px;
    padding: 3px;
    border-radius: 3px;
    background: #9b9b9b;
    color: white;
    border-width: 1px;
    cursor: pointer;
    margin-right: 5px;
    width: 65px;
}

.btns button:focus{
    background: #9b9b9b;
}
.btns button:hover{
    background: #737373;
}

.edit{
    justify-content: space-between;
    align-items: center;
    display: flex;
    opacity: 0;
}

.edit.active{
    opacity: 1;
}

.edit div{
    padding: 3px;
}

.edit_ok_btn{
background: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.edit_ok_btn:focus{
    background: black;
}

.edit_ok_btn:hover{
    background: #696969;

}

