.logOut{
    padding: 5px 5px 10px 5px;
    font-size: 30px;
    transition: 0.4s;
    border-radius: 20px;
    color: black;
}


.logOut:hover{
    color: white;
    background: black;
}
.wrapper{
    margin-right: 10px;
    border-radius: 30px;
    color: #3D3D5A;
    display: flex;
}
.acc{
    font-size: 30px;
    margin-right: 20px;
    border-radius: 20px;
    cursor: default;
}
